<h1> <%= @new_car.title %> </h1>
  <p>
    <%= @new_car.brand %>
  </p>

  <p>
    <%= new_car.img %>
  </p>

  <p>
    <%= new_car.description %>
  </p>

  <p>
    <%= new_car.price %>
  </p>

  <p>
    <%= new_car.quantity %>
  </p>